/*GENERAL STYLE*/
h1{
    font-weight:bold;
    text-decoration:none;
    color:green;
    font-size:30px;
    margin:auto;
}

body h1{
  max-width:900px;
  margin:auto;

  font-size:50px;
  font-family:'Olive Village';
  color:black;
  font-weight:bold;
}

h2{
  font-weight:bold;
  text-decoration:none;
  color:blueviolet;
  font-size:28px;
  margin-bottom:10px;
}

h3{
  font-weight:bold;
  text-decoration:none;
  color:blue;
  font-size:20px;
  margin-bottom:10px;
}

p{
  font-size:18px;
  margin:auto;
  margin-bottom:8px;
}

footer{
  max-width:960px;
  text-decoration:none;
  color:black;
  font-size:12px;
  position:relative;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#footindex{
  max-width:960px;
  text-decoration:none;
  color:black;
  font-size:12px;
  position:relative;
  margin:1200px auto auto auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


nav ul{
    text-align:center;
    list-style-type:none;
    display: flex;
    max-width:900px;
    margin:auto;
}

nav ul li{
    color:rgb(210, 205, 255);
    margin:40px 2px 40px 5px;;
    width:180px;
    flex-wrap: nowrap;
    border:solid black;
    padding:10px;
}

li{
    list-style-type: none;
}

nav li:hover{
  background-color: blueviolet;
}

li a{
  text-decoration:none;
  color:black;
  font-size: 20px;
}

ul li p{
    color:brown;
}

/*slider*/

#gallery ul, li {
  padding: 0;
  margin: 0;
  list-style: none inside;
}
#gallery ul.slider {
  position:relative; 
}
#gallery ul.slider li {
  opacity: 0;
  transition: opacity .5s;
  position: absolute;
  left: 500px;
  top: 0px;
  margin:50px;
  padding:50px;
 /* border:2px solid red;*/
  background:#fff;
}
#gallery ul.slider li:first-child {
  opacity: 1;
}
#gallery ul.slider li:target{
  opacity: 1;
}
#gallery nav {
  position:relative;
  top: 0px;
  left:630px;
}

/*WEBSITE SPECIFIC STYLES*/
/*alimentacion.html*/
#dieta{
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width:960px;
  margin:auto;
}

#dieta p{
  white-space:normal;
  font-size:18px;
  margin-bottom:30px
}

#dieta ul li{
  font-size:18px;
  margin-bottom:14px
}

#dieta h2{
  text-align:center;
  font-weight:bold; 
  text-decoration:none;
  color:black;
  font-size:28px;
  margin-bottom:30px;
}

#dieta img{
  display:block;
  margin:auto auto 30px auto;
  width:600px;
}

#faq{
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width:960px;
  margin:auto;
}

#faq ul li{
  color:black;
  font-size:24px;
  margin-bottom:30px;
  font-weight:bold;
}

#faq ul p{
  color:black;
  font-size:18px;
  margin-bottom:30px;
}

#about{
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width:960px;
  margin:auto;
}

#about header h2{
  margin-top:30px;
  color:black;
  font-size:34px;
  margin-bottom:80px;
  font-weight:bolder;
}

#about ul li{
  color:black;
  font-size:24px;
  margin-bottom:30px;
  margin-top:50px;
  font-weight:bold;
}

#about ul p{
  color:black;
  font-size:18px;
  margin-bottom:30px;
}

/*ejercicios.html*/
#ejercicios{
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width:960px;
    margin:auto;
}

#ejercicios li a:hover{
    background-color: blueviolet;
}


/*Enfermedades*/

/* sidebar derecho*/



#sidebarR ul li {
 text-align:center;
}

#sidebarR a{
 color:black;
 text-decoration: none;
}
#sidebarR #hov_li:hover{
 background-color: green;
}

#sidebarR #hov_li a:hover
{
 color:white;
}

/* sidebar derecho*/


#menu_enf{

  width: 80%;

}
#menu_enf table{
  margin-left: 30%;
  text-align: center;
}
#espacio{
  padding: 1%;
}


#menu_enf td  {
  vertical-align:middle;
  height: 100px;
  width: 250px;
  border: 3px solid black;
}
#menu_enf td:hover{
   
    background-color: red;
    height: 60px;
}


#menu_enf a {
  font-size: 160%;
  color :black;
  font-weight:bold;
  text-decoration: none;
}
#menu_enf a:hover{

  color: white;

}

#medio {
  padding-top: 1%;

}

#medio ul {
  font-size: 25px;
}
#medio h2{
  text-align: center ; 
  font-size: 220%;
}



/* Contenido del medio*/

/*menu de enfermedades*/
#menu_enf{

  width: 80%;

}
#menu_enf table{
  margin-left: 30%;
  text-align: center;
}
#espacio{
  padding: 1%;
}


#menu_enf td  {
  vertical-align:middle;
  height: 100px;
  width: 250px;
  border: 3px solid black;
}
#menu_enf td:hover{
   
    background-color: red;
    height: 60px;
}


#menu_enf a {
  font-size: 160%;
  color :black;
  font-weight:bold;
  text-decoration: none;
}
#menu_enf a:hover{

  color: white;

}
