<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="utf-8">
    <title>Mi primera pagina</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/estilos.css" type="text/css">
        


</head>

<body>

    <header>
        <h1> Titulo de la pagina </h1>
    </header>

    <nav>
        <ul id="menu">
            <li> <a href="#"> Inicio </a> </li>
            <li> <a href="#galeria"> Galeria </a> </li>
            <li> <a href="#"> Videos </a> </li>
            <li> <a href="#"> Contactenos </a> </li>
        </ul>
    </nav>

    <section id="principal">
        <img src="images/imagenes/img1.jpg" width="100%">
        
    </section>

    <!-- Galeria -->
    <section id="galeria">
        <h2>Mi galeria</h2>

        <ul>
            <li>
                <img src="images/1.png" title="pequeñadescripcion">
                <p>Texto descripcion de la imagen</p>
            </li>
            <li>
                <img src="images/2.png" title="pequeñadescripcion">
                <p>Texto descripcion de la imagen</p>
            </li>
            <li>
                <img src="images/3.png" title="pequeñadescripcion">
                <p>Texto descripcion de la imagen</p>
            </li>
            <li>
                <img src="images/4.png" title="pequeñadescripcion">
                <p>Texto descripcion de la imagen</p>
            </li>
        
            <li>
                <img src="images/5.png" title="pequeñadescripcion">
                <p>Texto descripcion de la imagen</p>
            </li>
        </ul>

        
    </section >

    <section id="contactenos">
<!-- Contactenos -->
        <form action="">

            <ul>
                <li>
                    <label >Nombre Completo</label>
                    <input type="text" id="nombre"/>
                </li>
        
                <li>    
        
                    <label >Numero de telefono</label>
            
                    <input type="number" id="Numero"/>
        
                </li>

       
                <li> 
        
                    <label >Correo Electronico</label>
        
                    <input type="email" id="email"/>
       
                </li>

                <li>
                    <button>Enviar</button>
                </li>
       
            </ul>
       
        </form>

    </section>
    

    <footer>
        Realizado por: AAAAAAAAAAAAAAAAAAAA
    </footer>




</body>


</html>