<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-7 mt-md-0 mt-5">
          <h5 class="text-uppercase">Ven y visitanos</h5>
          <p>Te entregaremos orientación medica profesional
            <br>de acuerdo a tus necesidades y objetivos</p>
          <p>Avenida 1
             <br>Aldea de la hoja
             <br>Nación del fuego
          </p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Información relevante</h5>
  
          <ul class="list-unstyled">
            <li>
                <a [routerLink]="['home']">Inicio</a>
              </li>
            <li>
              <a [routerLink]="['faq']">FAQ</a>
            </li>
            <li>
              <a [routerLink]="['sobre-nosotros']">Sobre Nosotros</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2022 Todos los derechos reservados:
      <a>Vida Saludable Inc Co ™®</a>
    </div>
  </footer>
