<div class="container-fluid">
    <div class="row">
        <div class="d-none d-lg-block  col-lg-3">
            <app-caja-de-comentarios></app-caja-de-comentarios>
        </div>
        <div class="col-xs-12 d-block d-lg-none">
            <app-menu-enfermedades></app-menu-enfermedades>
        </div>
        <div class="col-xs-12 col-lg-6 ">
            <div class="card" >                           
                <h1 class="card-header text-center">Cáncer de Mama y Útero</h1>         
                <div class="card=body">
                    <ul class="list-group">
                        <li class="list-group-item">Son los tipos de Cáncer más frecuentes en las mujeres</li>
                        <li class="list-group-item">La mayoría de los casos de Cáncer Cervicouterino son desarrollados a causa del Virus del Papiloma Humano (VPH)</li> 
                        <li class="list-group-item">Datos del Ministerio de Salud (MINSAL) mencionaron que el Cáncer Cervicouterino es la segunda causa de muerte entre los 20-44 años</li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item"> <img  src="assets/cancer-utero.jpg" height="100%" width="100%"></li>
                        <li class="list-group-item"> <img  src="assets/cancer-seno.jpg"  height="100%" width="100%" > </li>
                    </ul>               
                </div>  
            </div>
        </div>
        <div class="d-none d-lg-block  col-lg-3">
            <app-menu-enfermedades></app-menu-enfermedades>
        </div>
    </div>
</div>
