<div class="ejercicios">
    <h1>Ejercicios</h1>
    <h2>¿Quieres mantenerte en forma desde la casa?¿No sabes como comenzar?¿No te alcanza el tiempo?</h2>
    <p>En primer lugar, deben quitarse el pensamiento de "Si no hago ejercicio intenso por al menos 1 hora no obtendre ganancias" cuando puede ser cierto para un deportista experimentado, pero, si estas leyendo esto, lo mas probable es que no lo seas.

        Por lo que, piensa en "Mi constancia y motivación es la clave" por ejemplo "Pokemón GO" en su momento de mayor popularidad, logro un impacto tal que de sus casa, empezarón a salir para "capturar pokemón" esta fue su motivación.
        
        Por lo que el consejo es busca un metodo que funcione para tí, mantente motivado, y recuerda que la constancia es la receta para el éxito, ya pasada esta primera fase podrás progresar con ejercicios cada vez mas largos o intensos.
        
        El objetivo de esta paguina es abrirte un camino al mundo del ejercicio, pensando en tu tiempo hemos recopilado los siguientes recursos para que te abras paso en el mundo del ejercicio:
    </p>
    <h2>Rutina diaria</h2>
</div>

<div class="video">
    <youtube-player 
        videoId="YR_G-7xeklE" 
        suggestedQuality="highres" 
        [height]="400" 
        [width]="800" 
        [startSeconds]="0"
        [endSeconds]="569">
    </youtube-player>
</div>