<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card " id="ing_comen">
            

            <div *ngIf="rol==='visita'">
                <div class="card-header">
                    <h3 class="alling-text-center fs-1 py-4 fw-bolder text-center text-dark">Ingreso</h3>
                </div>
                <div class=" card-body">
                    <div class=" row">
                        <label for="usuario">Usuario</label>
                        <input type="text" id="usuario" class="form-control" [(ngModel)]="empleado.name" placeholder=" ej. pedro123"
                            maxlength="10" required #name required>
                        <label for="pass">Clave</label>
                        <input type="password" id="pass" class="form-control" [(ngModel)]="empleado.clave" #cla required>
                    </div>
                    <div class="row" id="btn_group1">
                        <div class="btn btn-group" role="group">

                            <button id="b_com" class="btn  btn-success  bg-black "
                                (click)='iniciar_sesion(name.value,cla.value)'>Iniciar Sesion</button>
                            <button id="b_elim" class="btn btn-danger  btn-small " (click)='Crearuser()'>Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="abrir==='v_crear_usuario'">
                <div class="card-header">
                    <h3 class="alling-text-center fs-1 py-4 fw-bolder text-center text-dark">Crear cuenta</h3>
                </div>
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" class="form-control" required
                [(ngModel)]="empleado.name" placeholder=" ej. pedro123"
                    maxlength="10" required #name>
                <label for="pass">Clave</label>
                <input type="password" id="pass" class="form-control" required
                [(ngModel)]="empleado.clave" required #cla>

                <form [formGroup]="aFormGroup">
                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha" required>
                    </ngx-recaptcha2 >
                </form>

                <div class="btn btn-group" role="group">
                    <button id="b_enviar" type="submit" class="btn btn-primary bg-success btn-lg "
                        (click)='Crearuser()'>Crear</button>
                    <button id="b_enviar" class="btn btn-primary bg-danger btn-lg " (click)='Atras()'>Atras</button>
                </div>
            </div>

            <div *ngIf="rol==='admin'">
                <div class="card-header">
                    <h3 class="alling-text-center fs-1 py-4 fw-bolder text-center text-dark">Perfil de administrador</h3>
                </div>
                <div class=" card-body">
                    <div class=" row">
                        <h5> Nombre de usuario:<a id="Username">{{usur}}</a></h5>
                    </div>
                    <div class="row" id="btn_group1">
                        <div class="btn btn-group" role="group">
                            <button id="b_com" class="btn  btn-secondary  bg-black " (click)='logOut()'>Cerrar sesion</button>
                        </div>
                    </div>

                       <div class="row"> 
                        <app-employee></app-employee>
                       </div>
                </div>
            </div>

            <div *ngIf="rol==='user'">
                
                <div class=" card-body">
                    <div class=" row"  >
                        <h5> Nombre de usuario:<a id="Username">{{usur}}</a></h5>
                    </div>
                    <div class="row" id="btn_group1">
                        <div class="btn btn-group" role="group">
                            <a routerLink='/personal/{{ id_base }}'>
                                <button class = "btn btn-primary">Editar</button>  
                            </a>
                            
                            <button id="b_com" class="btn  btn-secondary  bg-black " (click)='logOut()'>LogOut</button> 
                        </div>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>




<ng-template #editar_user>
        <div class="form-inline">
            <div class="form-group">
                <label for="exampleInputEmail1">Rut</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Ingrese el rut del user a editar" #name_cre>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
</ng-template>


<ng-template #editar_usuari>
    

</ng-template>   