<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card " id="ing_comen">
            

            <div *ngIf="rol==='visita'">
                <div class="card-header">
                    <h3 class="alling-text-center fs-1 py-4 fw-bolder text-center text-dark">Ingreso</h3>
                </div>
                <div class=" card-body">
                    <div class=" row">
                        <label for="usuario">Usuario</label>
                        <input type="text" id="usuario" class="form-control" name="usuario" placeholder=" ej. pedro123"
                            maxlength="10" required #name required>
                        <label for="pass">Clave</label>
                        <input type="password" id="pass" class="form-control" name="pass" #cla required>
                    </div>
                    <div class="row" id="btn_group1">
                        <div class="btn btn-group" role="group">

                            <button id="b_com" class="btn  btn-success  bg-black "
                                (click)='iniciar_sesion(name.value,cla.value)'>Iniciar Sesion</button>
                            <button id="b_elim" class="btn btn-danger  btn-small " (click)='Crearuser()'>Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="abrir==='v_crear_usuario'">
                <div class="card-header">
                    <h3 class="alling-text-center fs-1 py-4 fw-bolder text-center text-dark">Crear cuenta</h3>
                </div>
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" class="form-control" name="usuario" placeholder=" ej. pedro123"
                    maxlength="10" required #name>
                <label for="pass">Clave</label>
                <input type="password" id="pass" class="form-control" name="pass" required #cla>

                <form [formGroup]="aFormGroup">
                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha" required>
                    </ngx-recaptcha2 >
                </form>

                <div class="btn btn-group" role="group">
                    <button id="b_enviar" type="submit" class="btn btn-primary bg-success btn-lg "
                        (click)='Crearuser(name.value,cla.value)'>Crear</button>
                    <button id="b_enviar" class="btn btn-primary bg-danger btn-lg " (click)='Atras()'>Atras</button>
                </div>
            </div>

            <div *ngIf="rol==='admin'">
                <div class="card-header">
                    <h3 class="alling-text-center fs-1 py-4 fw-bolder text-center text-dark">Perfil de administrador</h3>
                </div>
                <div class=" card-body">
                    <div class=" row">
                        <h5> Nombre de usuario:<a id="Username">{{usur}}</a></h5>

                        <div *ngIf="editar==='on'">
                            <div class=" row">
                                <select class="form-select form-select-lg mb-3" multiple
                                    aria-label="multiple select example" aria-label="Ejemplo de .form-select-lg">
                                    <option selected>Usuarios</option>
                                    <option *ngFor="let users of usuarios" (click)="userr(users)">{{users}}</option>
                                </select>
                                <label for="comentario">Comentario</label>
                                <textarea class="form-control" name="mensaje" id="mensaje"
                                    placeholder="Ingrese su comentario" (change)="cambio_text(admin_mensa.value)"
                                    #admin_mensa></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row" id="btn_group1">
                        <div class="btn btn-group" role="group">
                            <button id="b_com" class="btn  btn-secondary  bg-black " (click)='logOut()'>Cerrar sesion</button>
                            <button id="b_elim" class="btn btn-danger  btn-small " (click)='admin_crear()'>Crear usuario</button>
                            <button id="b_elim" class="btn btn-danger  btn-small " (click)='admin_editar()'>Editar Usuario</button>
                            <button id="b_elim" class="btn btn-danger  btn-small " (click)='admin_eliminar()'>Eliminar Usuario</button>
                        </div>
                    </div>

                       <div class="row"> 
                        <div *ngIf="opcion_admin==='crear';then crearUser"></div>
                        <div *ngIf="opcion_admin==='editar'"></div>
                        <div *ngIf="opcion_admin==='eliminar'"></div>
                        <div *ngIf="opcion_admin==='off'"><app-employee></app-employee></div>
                       </div>
                </div>
            </div>

            <div *ngIf="rol==='user'">

                <div class=" card-body">
                    <div class=" row">
                        <h5> Nombre de usuario:<a id="Username">{{usur}}</a></h5>
                    </div>
                    <div class=" row">
                        <label for="comentario">Comentario</label>
                        <textarea class="form-control" name="mensaje" id="mensaje" placeholder="Ingrese su comentario"
                            #mensa></textarea>
                    </div>
                    <div class="row" id="btn_group1">
                        <div class="btn btn-group" role="group">
                            <button id="b_enviar" class="btn btn-primary bg-success btn-lg ">Editar perfil</button>
                            <button id="b_elim" class="btn btn-danger  btn-small ">Eliminar Cuenta</button>
                            <button id="b_com" class="btn  btn-secondary  bg-black " (click)='logOut()'>LogOut</button> 
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf=""> </div>

        </div>
    </div>
</div>


<ng-template #crearUser>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre</label>
          <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Ingrese su nombre" #name_cre>
          <small class="form-text text-muted">Ingrese su nombre completo</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #pass_cre>
        </div>
         <div class="form-group">
            <label for="exampleFormControlSelect1">Example multiple select</label>
            <select multiple class="form-control" id="exampleFormControlSelect2" #rol>
              <option value="user" >Usuario</option>
              <option value="admin" >Administrador</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Numero</label>
            <input type="password" class="form-control"  placeholder="9********" #numero>
          </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="crear_useradmin(name_cre.value,pass_cre.value,rol.value,numero.valueAsNumber)">Submit</button>
      </form>
</ng-template>

<ng-template #editar_user>
        <div class="form-inline">
            <div class="form-group">
                <label for="exampleInputEmail1">Rut</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Ingrese el rut del user a editar" #name_cre>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
</ng-template>