<div class="conteiner-fluid">
    <div class="row row_men_enf">
        <div class="col-12">
            <div class="card">
                  <h3 class="card-header">Menu de enfermedades</h3>
                  <div class="card-body lista_enf">
                      <ul class="list-group list-group-vertical">
                          <li class="list-group-item"><a [routerLink]="['/cancer']">Cáncer de mama y útero</a></li>
                          <li class="list-group-item"><a [routerLink]="['/colon']">Colon irritable</a></li>
                          <li class="list-group-item"><a [routerLink]="['/cardiacos']">Problemas cardíacos</a></li>
                          <li class="list-group-item"><a [routerLink]="['/depresion']">Depresión</a></li>
                          <li class="list-group-item"><a [routerLink]="['/cabeza']">Dolor de cabeza</a></li>
                          <li class="list-group-item"><a [routerLink]="['/tiroide']">Problemas de tiroide</a></li>
                          <li class="list-group-item"><a [routerLink]="['/ovaricos']">Quistes ovaricos</a></li>
                      </ul>
                  </div>             
              </div>
         </div>
    </div>
</div>