<div class="container-fluid">
    <div class="row">
        <div class="d-none d-lg-block  col-lg-3">
            <app-caja-de-comentarios></app-caja-de-comentarios>
        </div>
        <div class="col-xs-12 d-block d-lg-none">
            <app-menu-enfermedades></app-menu-enfermedades>
        </div>
        <div class="col-xs-12 col-lg-6 ">
            <div id="medio" class="card" >
                <h1 class="card-header text-center">Problemas de Tiroides</h1>          
                <div class="card=body">
                    <ul class="list-group">
                        <li class="list-group-item">La patología más común que afecta a la Tiroides es el Hipotiroidismo</li>
                        <li class="list-group-item">Una de las principales razones de los problemas de Tiroides es por el alto consumo de Sodio</li> 
                    </ul> 
                    <ul class="list-group">
                        <li class="list-group-item"> <img src="assets/tiroide.png" height="100%" width="100%"></li>
                    </ul>
                </div>  
            </div>
        </div>
        <div class="d-none d-lg-block  col-lg-3">
            <app-menu-enfermedades></app-menu-enfermedades>
        </div>
        <div class="col-xs-12 d-block d-lg-none">
            <app-caja-de-comentarios></app-caja-de-comentarios>
        </div>
    </div>
</div>
