<div class="container-fluid">
    <div class="row">
        <div class="d-none d-lg-block  col-lg-3">
            <app-caja-de-comentarios></app-caja-de-comentarios>
        </div>
        <div class="col-xs-12 d-block d-lg-none">
            <app-menu-enfermedades></app-menu-enfermedades>
        </div>
        <div class="col-xs-12 col-lg-6 ">
            <div id="medio" class="card" >
                <h1 class="card-header text-center">Depresión</h1>
                <div class="card=body">
                    <ul class="list-group">
                    <li class="list-group-item">Gran cantidad de casos de Depresión son después del Parto</li>
                    <li class="list-group-item">Si no se trata a tiempo puede llevar al Suicidio</li> 
                    <li class="list-group-item">El año pasado se realizó la Encuesta Nacional de Salud y mostró que las mujeres chilenas tienen 5 veces más Depresión que los hombres</li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item"> <img src="assets/depre.png" height="100%" width="100%" ></li>
                    </ul>
                </div>  
            </div>
        </div>
        <div class="d-none d-lg-block  col-lg-3">
            <app-menu-enfermedades></app-menu-enfermedades>
        </div>
    </div>
</div>

