<div class="col-lg-7 ">
    <div class="row">
        <div id="medio" class="card" >
            <h1 class="card-header text-center">Problemas Cardíacos</h1>
            <div class="card=body">
                <ul class="list-group">
                   <li class="list-group-item">El Infarto es la primera causa de muerte en la población femenina de Chile</li>
                   <li class="list-group-item">Las principales causas de las Enfermedades Cardiovasculares son el consumo de tabaco, sedentarismo y la mala alimentación</li> 
                </ul>
                <ul class="list-group">
                    <li class="list-group-item"> <img src="assets/ataque-cardiaco.jpg" height="100%" width="100%" ></li>
                </ul>
            </div>  
        </div>
    </div>
</div>

<app-caja-de-comentarios></app-caja-de-comentarios>
<app-menu-enfermedades></app-menu-enfermedades>