<div class="home">
  <ngb-carousel>
      <ng-template *ngFor="let slider of sliders" ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="{{slider.img}}" alt="slider">
        </div>
      </ng-template>
  </ngb-carousel>
</div>

<div class="container-fluid">
  <div class="row align-item-start">
    <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="assets/health.jpeg" alt="health" >
                <div class="card-body">
                    <p class="card-text">Especialistas en bienestar emocional y fisico dispuestos a ayudarte</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/fitness.jpeg" alt="fitness" >
                <div class="card-body">
                    <p class="card-text">Tambien creemos en la importancia del estado fisico para mantener tu bienestar</p>
            </div>
        </div>  
            <div class="card">
                <img class="card-img-top" src="assets/nutrition.jpeg" alt="nutrition" >
                <div class="card-body">
                    <p class="card-text">La nutricion es esencial para nuestro funcionamiento</p>
                </div>
            </div> 
    </div>
</div>