<div class="image">
    <img src="assets\aboutus.jpg" alt="nosotros">
</div>
<div class="container-fluid">
    <h1>Sobre nosotros</h1>
    <div class="row align-item-start">
        <div class="card-group">
                <div class="card border-white text-white bg-info">
                    <img class="card-img-top" src="assets/puzzle.jpeg" alt="mision" >
                    <div class="card-body">
                        <h4 class="card-title">Misión</h4>
                        <p class="card-text">Organizar la información de bienestar fisico y nutricional del mundo y hacerla universalmente accesible</p>
                    </div>
                </div>
                <div class="card border-white text-white bg-warning">
                    <img class="card-img-top" src="assets/lightbulb.jpeg" alt="mision" >
                    <div class="card-body">
                        <h4 class="card-title">Visión</h4>
                        <p class="card-text">Mejorar la calidad de vida de las personas</p>
                </div>
            </div>
                <div class="card border-white text-white bg-danger">
                    <img class="card-img-top" src="assets/leaf.jpeg" alt="mision" >
                    <div class="card-body">
                        <h4 class="card-title">Valores</h4>
                        <p class="card-text">Entusiasmo, confiabilidad, pasión, integridad y calidad</p>
                    </div>
                </div> 
        </div>
</div>
