<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-caja-de-comentarios></app-caja-de-comentarios>
        </div>
        <div class="col-6">
                <div id="medio" class="card" >
                    <h1 class="card-header text-center">Dolores de Cabeza</h1>
                    <div class="card=body">
                        <ul class="list-group">
                            <li class="list-group-item">Normalmente se dan por problemas hormonales, descanso inadecuado y por no dormir las horas correspondientes</li>
                            <li class="list-group-item">Cerca de 2 millones de chilenos sufren de Dolores de Cabeza y las mujeres representan al 85%</li> 
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item"><img src="assets/migraña.jpg" height="100%" width="100%" ></li>
                        </ul>
                    </div>  
                </div>
        </div>
        <div class="col-3">
            <app-menu-enfermedades></app-menu-enfermedades>
        </div>
    </div>
</div>



